.myContent
{
    background-color: rgb(255, 255, 255);
}

h1
{
 text-align: center;
 color: #01779E;
}

.mapsButton
{

    background-color: #8dc63f;

}

#mapsButtonGroup
{
    position: absolute;
    bottom: 0;
    width: 92%;
}

#map{

    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}