.myContent
{
    background-color: rgb(255, 255, 255);
}

h1
{
 text-align: center;
 color: #01779E;
}

.mapsButton
{

    background-color: #8dc63f;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 12%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;

}

#mapsButtonGroup
{
    position: absolute;
    bottom: 0;
    width: 92%;
}

#map{

    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}