.myContent
{
    background-color: rgb(255, 255, 255);
}

h1
{
 text-align: center;
 color: #01779E;
}

.mapsButton
{

    background-color: #1899B2;

}

#mapsButtonGroup
{
    position: absolute;
    bottom: 0;
    width: 92%;
}